//COLORES
$color-base: #9AFF63;
$color-fondo: #ffffff;
$color-footer: #c1c1c1;
$color-rastreo: #393939;
$color-li-hover: #7ffca0;
$c-anima-1: #eee;
$c-anima-2: #ffffffcc;
$c-anima-3: #0000001a;
$c-anima-4:#00000066;
$c-a-nav: #000000;
$c-header-top:#ffffff;